# Plaid API Configuration
# Get your credentials at: https://dashboard.plaid.com/developers/keys
# etuovila@plaid.com
PLAID_CLIENT_ID=primary_client_id
PLAID_SECRET=primary_client_secret
PLAID_ENV=sandbox

# OPTIONAL
# Alternative Plaid Credentials
# Enables credential switching via settings toggle
ALT_PLAID_CLIENT_ID=alt_client_id
ALT_PLAID_SECRET=alt_client_secret
